header{
    vertical-align: middle;
      }
    
      .pk{
        border-radius: 50%;
        margin:10px;
      }
    
    span{
      font-size: 22px;
      font-weight: bolder;
    }
    
      .d-flex{
        float:right;
    margin-right: 30px;
    margin-top: 60px;
      }
    